[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на M4s1.1 .html
Type=Link
URL=https://online-vstu.ru/pluginfile.php/14386/assignsubmission_file/submission_files/159084/M4s1.1%20.html?forcedownload=1
Icon=text-html
Name[ru_RU]=index.html
